<!doctype html>
<html ng-app="myApp">
<head>
  <title>A Sick Angular App</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>

<body>

  <div class="container-fluid">

    <div class="jumbotron">
      <h2 class="text-center">Welcome to the site!</h2>
    </div>

    <div>
      <!--
      as a convention, try to always make your 'this' variable
      the same name as the alias in the ng-controller directive
      -->
      <form name="form" ng-controller="FormController as formCtrl" ng-submit="form.$valid && formCtrl.addEntry()" novalidate>

        <!-- List of Entries -->
        <div>
          <h4>Entries</h4>
          <li ng-repeat="item in formCtrl.entries">
            {{item}}
          </li>
        </div>

        <!-- Form Area -->
        <h2>Try Filling out this form!</h2>
        <fieldset class="form-group">
          <input type="text" class="form-control" ng-model="formCtrl.text" placeholder="See what happens when you type!"/>
        </fieldset>
        <fieldset class="form-group">
          <input type="submit" class="btn btn-primary pull-right" value="Submit Review" required/>
        </fieldset>

        <!-- Live Preview -->
        <h6><em>Live Preview</em></h6>
        <blockquote>
          <h3>{{formCtrl.text}}<h3>
        </blockquote>

      </form>

    </div>

  </div>

</body>
</html>
